body {
	margin: 0;
	text-align: left;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	display: block;
	margin: 0;
	z-index: 999;

}

#nav-wrapper{
	background-color: #5EB299;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	padding: 0 20%;
}
header {
	text-align: center;
}

a {
	color: #9FE5C2;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
}
a:hover {
	text-decoration: none;
	color: white;
}

.name{
	float: left;
	padding: 20px;
}
.right {
	float: right;
	padding: 20px;
}
section{
	padding-top: 60px;
	margin: 80px auto 40px auto;
	width: 560px;
}
h1 {
	clear: both;
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	padding-top: 1em;
	text-align: center;
}
p {
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3em;
	padding-top: 1em;
	text-align: justify;
}
img{
	max-width: 100%;
}
#content {
	text-align: center;
}
footer{
	bottom: 0;
	position: absolute;
	width: 100%;
	text-align: center;
}
footer a{
	padding: 0 1em;
}